@import url("https://fonts.googleapis.com/css2?family=Bungee&family=JetBrains+Mono&family=Nunito&display=swap");
html {
  font-family: "Nunito", cursive;
  border-style: hidden;
}

.subheading, .heading {
  font-weight: bold;
}

.formInput {
  border: hidden;
}

.listCheckbox {
  font-family: Bungee;
  display: inline;
}

.itemLabel {
  display: inline;
}

.taskText {
  display: inline;
  padding-left: 10px;
}
.taskText:hover {
  border-style: solid;
  border-color: #000;
}

.lateText {
  font-weight: bold;
  color: #DD2222;
}
